h1, h3 {
    align-content: center;
    font-family : Permanent Marker;
}

p {
    font-family : 'Pacifico', cursive;
}

.subbg {
    background-color : #fcd303;
    padding: 5px;
}

.block {
    display: block
}